body {
	background: #fefefe;
	color: #333;
}

.main {
	width: 100%;
	max-width: 700px;
	margin: 32px auto;
}
.header {
	color:orange;
}

.heading {
	color: darkblue;
}

.sectionHeader {
	color: #1460AA;
}

.usectionHeader {
	color: red;
	font-style: italic;
}

p {
	color: rgb(78, 45, 224);
}

.link {
	color: #1a936F;
}

.about {
	
}

.paragraph {
	
}