body {
	background: #fefefe;
	color: #333;
}

.mainHeader {
	color:#00487C;
}

.sectionHeader {
	color: #1460AA;
}

.usectionHeader {
	color: red;
	font-style: italic;
}

p {
	color: darkviolet;
}

.link {
	color: #1a936F;
}