body {
	background: #fefefe;
	color: #333;
}

.main {
	width: 100%;
	max-width: 700px;
	margin: 32px auto;
	padding-top: 10px;
}
.about__header {
	color:orange;
	}

.heading {
	color: darkblue;
}

.sectionHeader {
	color: #1460AA;
}

.usectionHeader {
	color: red;
	font-style: italic;
}

p {
	color: rgb(78, 45, 224);
}

.navigation__link {
	color: #1a936F;
}

.about {
	
}

.about__paragraph {
	padding: 16px;
	overflow: hidden;
}

.box {
	width: 100px;
	height: 100px;
	background: yellowgreen;
	padding: 10px;
	border: 10px solid red;
	margin: 10px;
}

.top {
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: #1a936f;
	text-decoration: none;
}

.navigation {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 16px;
	background: #fff;
}

.about__picture {
	width: 100%;
	max-width: 100px;
	display: block;
	float: left;
	margin: 0 16px 16px 0;
}